:root{
    --color1: #d4e09b;
    --color2: #9cb380;
    --color3: #ddd;
    --color4: #94a89a;
    --color5: #c7ac92;
    --color6: #a44a3f;
    --color7: #510d0a;

    --tipografia1: Arial, Helvetica, sans-serif;
    --tipografia2: Verdana;
    --tipografia3: "Fascinate Inline", system-ui;
    --tipografia4: Georgia, 'Times New Roman', Times, serif;
    --tipografia5: "Caveat", cursive;
}

@font-face {
    font-family: 'Timeless';
    src: url('fonts/Timeless-Bold.woff2') format('woff2'),
        url('fonts/Timeless-Bold.woff') format('woff'),
        url('fonts/Timeless-Bold.svg#Timeless-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    font-size: 2rem;
    font-family: var(--tipografia1);
    text-align: center;
}

h1{
    font-family: var(--tipografia3);
    font-weight: 400;
    font-style: normal;
}

p{
    font-family: var(--tipografia4);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    max-width: 1920px;
    font-family: 'Timeless';
}

.progres{
    height: 10px;
    background: var(--color7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    scale: 0 1;
    animation: analitzador linear;
    animation-timeline: scroll();

        -webkit-animation-timeline: scroll();
            -moz-animation-timeline: scroll();
                animation-timeline: scroll();
}

@keyframes analitzador {
    to{
        scale: 1 1;
    }
}

@media (max-width:480px)
{
    body{
        background-color:var(--color5);
    }
}

@media (min-width:481px) and (max-width:1279px)

{
    body{
        background-color: var(--color1);
    }

    p{
        margin: 2rem;
    }
}

@media (min-width:1280px)

{
    body{
        background-color: var(--color4);
    }

    p{
        columns: 2;
        text-align: justify;
    }
}

.rodona{
    width: 15rem;
    height: 15rem;
    background: var(--color2);
    border-radius: 50%; 
    margin: auto;
}