:root{
    /*aqui hi van les variables*/
    --tipografia1: "Style Script", cursive;
    --tipografia2: "Inter", sans-serif;
}

*{
    /*aqui hi va el reset*/
    margin: 0;
    padding: 0;
    border: 0:
}

/*aqui hi van les fonts personalitzades*/

@font-face {
    font-family: "Style Script", cursive;
    src: url('fonts/StyleScript-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;

    font-family: "Inter", sans-serif;
    src: url('fonts/Inter_18pt-Black.ttf') format(ttf);
    font-weight: 900;
    font-style: normal; 
}

    /*aqui hi van les propietats generals*/

html{
    height: 100%;
}

body{
    background: linear-gradient(145deg, lightgray, rgb(198, 198, 198), rgb(159, 159, 159));
}

.cap{
    height: 100vh;
    width: 60rem;
    background: rgb(10, 12, 69);
    background-image: url(img/textura.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    overflow: hidden;
}

.titol{
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.portafoli{
    color: white;
    text-align: center;
    font-family: var(--tipografia2);
    font-weight: 800;
    font-size: 90px;
    float: left;
}

.nombre{
    right: 130px;
    color: red;
    top: 2rem;
    float: left;
    font-size: 75px;
    font-family: var(--tipografia1);
    position: relative;
}

.cos{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

ul{
    width: 54rem;
    height: 56rem;
    margin: auto;
    line-height: 13rem;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li{
    width: 13rem;
    height: 13rem;
    border-radius: 15% 15% 0 0;
    background-color: #fff;
    margin: 2.5rem;
    font-family: var(--tipografia2);
    font-size: 90px;
    font-weight: 900;
    float: left;
    list-style-type: none;
    text-align: center;
    transition: 0.5s;
}

.ex1, .ex2, .ex3, .ex4, .ex5, .ex6, .ex7, .ex8, .ex9{
    width: 13rem;
    height: 2rem;
    background: rgb(10, 12, 69);
    font-family: var(--tipografia2);
    font-size: 17px;
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
    color: #fff;
}

.peu{
    width: 11rem;
    height: 4rem;
    background-image: url(img/icones.svg);
    left: 85%;
    top: 1%;
    position: relative;
}

.gmail{
    background-image: url()
}

a:visited{
    color: red;
}

a:link{
    line-height: 13rem;
    color: red;
    text-decoration: none;
}

li:hover{
    scale: 103%;
}

.horari:hover{
    background-image: url(img/horari.svg);
}

.horari:hover > a {
    visibility: hidden;
}

.icones:hover{
    opacity: 50%;
    scale: 103%;
}

/*aqui hi van propietats responisves*/

@media (max-width: 480px)
    /*aqui va la versio mobil*/
{


}

@media (min-width: 481px) and (max-width:1279px)
{

    
}

@media (max-width: 12804px)
{

    
}