:root{
    /*aqui hi van les variables*/
    --tipografia1: "Style Script", cursive;
    --tipografia2: "Inter", sans-serif;
}

*{
    /*aqui hi va el reset*/
    margin: 0;
    padding: 0;
    border: 0:
}

/*aqui hi van les fonts personalitzades*/

@font-face {
    font-family: "Style Script", cursive;
    src: url('fonts/StyleScript-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;

    font-family: "Inter", sans-serif;
    src: url('fonts/Inter_18pt-Black.ttf') format(ttf);
    font-weight: 900;
    font-style: normal; 
}

    /*aqui hi van les propietats generals*/

body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.cap{
    height: 64rem;
    width: 60rem;
    background: rgb(10, 12, 69);
    background-image: url(img/textura.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
}

.portafoli{
    color: white;
    margin-left: 8rem;
    text-align: center;
    line-height: 60rem;
    font-size: 90px;
    float: left;
}

.nombre{
    line-height: 64rem;
    right: 130px;
    color: red;
    float: left;
    font-size: 75px;
    font-family: var(--tipografia1);
    position: relative;
}

ul{
    width: 64rem;
    height: 64rem;
    left: 9rem;
    line-height: 12rem;
    float: left;
    position: relative;
}

li{
    width: 11rem;
    height: 12rem;
    border-radius: 15% 15% 0 0;
    background: #fff;
    margin: 5rem 5rem 0 1rem;
    font-family: var(--tipografia2);
    font-size: 90px;
    font-weight: 900;
    left: 40px;
    float: left;
    list-style-type: none;
    text-align: left;
}

a:visited{
    color: red;
}

a:link{
    line-height: 10rem;
    color: red;
    text-decoration: none;
}

li:hover{
    opacity: 50%;
}

/*aqui hi van propietats responisves*/

@media (max-width: 480px)
    /*aqui va la versio mobil*/
{


}

@media (min-width: 481px) and (max-width:1279px)
{

    
}

@media (max-width: 12804px)
{

    
}