:root{
    /*aqui hi van les variables*/
    --tipografia1: "Style Script", cursive;
}

*{
    /*aqui hi va el reset*/
    margin: 0;
    padding: 0;
    border: 0:
}

/*aqui hi van les fonts personalitzades*/

@font-face {
    font-family: "Style Script", cursive;
    src: url('fonts/StyleScript-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

    /*aqui hi van les propietats generals*/

body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.cap{
    height: 64.25rem;
    width: 60rem;
    background: rgb(10, 12, 69);
    float: left;
}

.portafoli{
    color: white;
    margin-left: 8rem;
    text-align: center;
    line-height: 60rem;
    font-size: 90px;
    float: left;
}

.nombre{
    line-height: 64.25rem;
    right: 130px;
    color: red;
    float: left;
    font-size: 75px;
    font-family: var(--tipografia1);
    position: relative;
}

.cos{
    background: red;
}

ul{
    width: 64.25rem;
    margin: auto;
    line-height: 10rem;
    float: left;
}

li{
    width: 11rem;
    height: 12rem;
    border-radius: 15% 15% 0 0;
    background: #fff;
    margin: 5rem 5rem 0 1rem;
    float: left;
    list-style-type: none;
    text-align: center;
}

a:visited{
    color: black;
}

a:link{
    line-height: 10rem;
    color: black;
    text-decoration: none;
}

li:hover{
    opacity: 50%;
}

/*aqui hi van propietats responisves*/

@media (max-width: 480px)
    /*aqui va la versio mobil*/
{


}

@media (min-width: 481px) and (max-width:1279px)
{

    
}

@media (max-width: 12804px)
{

    
}