:root{
    /*aqui hi van les variables*/
}

*{
    /*aqui hi va el reset*/
    margin: 0;
    padding: 0;
    border: 0:
}

@font-face {
    /*aqui hi van les fonts personalitzades*/
}

    /*aqui hi van les propietats generals*/

body{
    background: rgb(199, 160, 119);
    font-family: Arial, Helvetica, sans-serif;
}

.cap{
    width: 60rem;
    background: rgb(10, 12, 69);
    float: left;
}

h1{
    color: white;
}

li{
    width: 10rem;
    height: 10rem;
    border-radius: 15% 15% 0 0;
    background: #fff;
    margin: 5rem 5rem 0 1rem;
    float: left;
    list-style-type: none;
    text-align: center;
}

a:visited{
    color: black;
}

a:link{
    line-height: 10rem;
    color: black;
    text-decoration: none;
}

ul{
    width: 75rem;
    margin: auto;
    line-height: 10rem;
    float: left;
}

li:hover{
    opacity: 50%;
}

/*aqui hi van propietats responisves*/

@media (max-width: 480px)
    /*aqui va la versio mobil*/
{


}

@media (min-width: 481px) and (max-width:1279px)
{

    
}

@media (max-width: 12804px)
{

    
}