body{
}

.contenidor{
    height: 800px;
    width: 800px;
    margin: auto;
    background-color: brown;
    border: 10px solid purple;
}

.filera:nth-child(2n+1){
    background-color: black;
    width: 800px; 
    height: 100px;
}

.filera:nth-child(2n-1){
    background-color: white;
    width: 800px; 
    height: 100px;
}

.casella{
    width: 80px;
    height: 80px;
    padding: 10px;
    float: left;
}

.filera:nth-child(2n) .casella:nth-child(2n){
    background-color: white;
}

.filera:nth-child(2n) .casella:nth-child(2n+1){
    background-color: black;
}

.filera:nth-child(2n+1) .casella:nth-child(2n){
    background-color: black;
}

.filera:nth-child(2n+1) .casella:nth-child(2n+1){
    background-color: white;
}

.fitxa{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #999;
}

.filera:nth-child(2n) .casella:nth-child(2n) .fitxa{
    background-image: radial-gradient(orange, blue);
}

.filera:nth-child(2n) .casella:nth-child(2n+1) .fitxa{
    background-image: radial-gradient(green, yellow);
}

.filera:nth-child(2n+1) .casella:nth-child(2n) .fitxa{
    background-image: radial-gradient(green, yellow);
}

.filera:nth-child(2n+1) .casella:nth-child(2n+1) .fitxa{
    background-image: radial-gradient(orange, blue);
}

.filera:nth-child(3) .fitxa, .filera:nth-child(4) .fitxa, .filera:nth-child(5) .fitxa, .filera:nth-child(6) .fitxa{
    display: none;
}

.fitxa{
    position: relative;
}

.fitxa:hover{
    top:100px;
}

.filera:nth-child(1) .fitxa:hover{
    top: 200px;
}

.filera:nth-child(2) .fitxa:hover{
    top: 100px;
}

.filera:nth-child(7) .fitxa:hover{
    top: -100px;
}

.filera:nth-child(8) .fitxa:hover{
    top: -200px;
}
