body {
    margin: 0;
    font-family: helvetica;
}

h1 {
    color: purple;
    text-align: center;
    text-shadow: 1px 1px 4px grey;
}

.contenidor{
    width: 1280px;
    margin: auto;
}

.cap{
    height: 120px;
}

.cos{
    height: 800px;
    overflow: hidden;
    overflow: scroll;
}

.peu{
    background-color: black;
    height: 300px;
}

li {
    background-color: white;
    height: 50px;
    width: 180px;
    margin: 10px;
    float: left;
}

.esquerra, .centre, .dreta{
    width: 20%;
    float: left;
}

.centre{
    background-color: purple;
    width: 60%;
    height: 600px;
    overflow: scroll;
    color: white;
}

p{
    text-indent: 50px;
    padding: 10px;
}
