body{
    background: white;
}

.fulla{
    width: 100px;
    height: 100px;
    border-radius: 100% 0% 100% 0%;
    position: absolute;
    top: 50px;
    left: 150px;
    transform-origin: 0px 100px;
    background-image: conic-gradient(blue,violet, black);
}

.flor{
    width: 300px;
    height: 300px;
    position: relative;
    nimation: 9s rotacio linear infinite;
    float: left;
    z-index: 3;
}

.f1{    
    transform: rotate(0deg);
}

.f2{
    transform: rotate(60deg);
}

.f3{
    transform: rotate(120deg);
}

.f4{
    transform: rotate(180deg);
}

.f5{
    transform: rotate(240deg);
}

.f6{
    transform: rotate(300deg);
}

.cor{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: 125px;
    left: 125px;
    background-image: radial-gradient(cyan, violet);
}

@keyframes rotacio{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.tija{
    width: 10px;
    height: 400px;
    background-image: linear-gradient(360deg, brown, gold);
    position: relative;
    top: 174px;
    left: 145px;
    z-index: 2;
}

.f7{
    width: 80px;
    height: 80px;
    border-radius: 100% 0% 100% 0%;
    background-image: linear-gradient(180deg, green, yellowgreen);
    position: relative;
    left: 150px;
    top: -70px;
    z-index: 1;
}

.f8{
    width: 80px;
    height: 80px;
    border-radius: 0% 100% 0% 100%;
    background-image: linear-gradient(90deg, green, yellowgreen);
    position: relative;
    left: 70px;
    top: -80px;
    z-index: 1;
}

.conjunt{
    position: relative;
    height: 600px;
    width: 300px;
}

.conjunt:hover .flor{
    animation: 0.9s rotacio linear infinite;
}

